adjustText
certifi
chardet
charset-normalizer
contourpy
cycler
fonttools
idna
importlib_resources
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
python-dotenv
pytz
report-generator
reportlab
requests
scipy
six
tzdata
urllib3
zipp
